<a href="https://colab.research.google.com/github/rinu48/Python/blob/main/Python_Cycle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Hello, World!" Program

In [2]:
print("hello world")

hello world

Q2. Program to Print an Integer (Entered by the User)

In [3]:
a=int(input("enter the integer:"))
print(a)

enter the integer:3
3

Q3. Program to Add Two Integers

In [4]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
sum = a+b
print("sum :",sum)

Enter first number:2
Enter second number:3
sum : 5

Q4. Program to Multiply Two Floating-Point Numbers

In [5]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
mul=num1*num2
print("the product of given numbers is:",mul)

Enter first number: 2.2
Enter second number: 3.2
the product of given numbers is: 7.040000000000001

Q5. Program to Compute Quotient and Remainder

In [6]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
quotient = a//b
remainder = a%b
print("Quotient is:", quotient)
print("Remainder is:", remainder)

Enter the first number: 6
Enter the second number: 3
Quotient is: 2
Remainder is: 0

Q6. Program to Swap Two Numbers

In [7]:
num1 = (input("Enter First Number: "))
num2 = (input("Enter Second Number: "))
print("Value of num1 before swapping: ", num1)
print("Value of num2 before swapping: ", num2)
temp = num1
num1 = num2
num2 = temp
print("Value of num1 after swapping: ", num1)
print("Value of num2 after swapping: ", num2)

Enter First Number: 8
Enter Second Number: 7
Value of num1 before swapping:  8
Value of num2 before swapping:  7
Value of num1 after swapping:  7
Value of num2 after swapping:  8

Q7. Program to Check Whether a Number is Even or Odd

In [8]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

Q8. Program to Check Whether a Character is a Vowel or Consonant

In [9]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character: a
a is a Vowel

Q9. Program to Find the Largest Number Among Three Numbers

In [10]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print("The largest number is", largest)

Enter first number: 5
Enter second number: 8
Enter third number: 2
The largest number is 8.0

Q10. Program to Check Leap Year

In [11]:
year = int(input("Enter a year: "))
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter a year: 2012
2012 is a leap year

Q11. Program to Check Whether a Number is Positive or Negative

In [12]:
num = float(input("Enter a number: "))
if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Enter a number: 6
Positive number

Q12. Program to Calculate the Sum of Natural Numbers

In [14]:
num = int(input("Enter a number: "))  
if num < 0:  
   print("Enter a positive number")  
else:  
   sum = 0  
   # use while loop to iterate un till zero  
   while(num > 0):  
       sum += num  
       num -= 1  
   print("The sum is",sum)

Enter a number: 8
The sum is 36

Q13. Program to Find Factorial of a Number

In [15]:
num = int(input("Enter a number: "))  
factorial = 1  
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   for i in range(1,num + 1):  
       factorial = factorial*i  
   print("The factorial of",num,"is",factorial)

Enter a number: 8
The factorial of 8 is 40320

Q14. Program to Generate Multiplication Table

In [17]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Q15. Program to Display Fibonacci Sequence

In [18]:

nterms = int(input("How many terms you want? "))  
n1 = 0  
n2 = 1  
count = 2  
if nterms <= 0:  
   print("Plese enter a positive integer")  
elif nterms == 1:  
   print("Fibonacci sequence:")  
   print(n1)  
else:  
   print("Fibonacci sequence:")  
   print(n1,",",n2,end=', ')  
   while count < nterms:  
       nth = n1 + n2  
       print(nth,end=' , ')  
       # update values  
       n1 = n2  
       n2 = nth  
       count += 1

How many terms you want? 5
Fibonacci sequence:
0 , 1, 1 , 2 , 3 ,

Q16. Program to Find LCM of two Numbers

In [19]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
if(a>b):
    min1=a
else:
    min1=b
while(1):
    if(min1%a==0 and min1%b==0):
        print("LCM is:",min1)
        break
    min1=min1+1

Enter the first number:2
Enter the second number:4
LCM is: 4

Q17. Program to Count Number of Digits in an Integer

In [20]:

num = int(input("Enter a number \n"))
count = 0
 
#counting number of digits in 'num'
while num>0:
    count +=1
    num = num//10;
    
print("Number of Digits: %d"%count)

Enter a number
10985
Number of Digits: 5

Q18. Program to Reverse a Number

In [21]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 765
Reverse of the number: 567

Q19. Program to Calculate the Power of a Number

In [23]:



def power(base,exp):
    if(exp==1):
        return(base)
    if(exp!=1):
        return(base*power(base,exp-1))
base=int(input("Enter base: "))
exp=int(input("Enter exponential value: "))
print("Result:",power(base,exp))

Enter base: 10
Enter exponential value: 1
Result: 10

Q20. Program to Check Whether a Number is Palindrome or not

In [25]:

n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:16461
The number is a palindrome!