<a href="https://colab.research.google.com/github/rinu48/Python/blob/main/Rinu_py_cy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print your address

In [ ]:
n=input("enter your house number : ")
hname=input("enter your house name : ")
s=input("enter your street name : ")
t=input("enter your town/city : ")
d=input("enter your district : ")
state=input("enter your state : ")
county=input("enter your county : ")
pin=int(input("enter your postcode: "))
print("\nAddress Details :\n" + "\nHousenumber :",n,"\nHouse :",hname,"\nStreet : ",s,"\nTown/City : ",t,"District : ",d,"\nState : ",state,"\nCounty : ",county,"\nPostcode : ",pin)

enter your house number : 499
enter your house name : chumappunkal
enter your street name : kizhaparayar
enter your town/city : palai
enter your district : kottayam
enter your state : kerala
enter your county : india
enter your postcode: 686578

Address Details :

Housenumber : 499
House : chumappunkal
Street :  kizhaparayar
Town/City :  palai District :  kottayam
State :  kerala
County :  india
Postcode :  686578

2.Display future leap years from current year to a final year entered by user.

In [ ]:
s=int(input("enter starting year: "))
e=int(input("enter ending year: "))
print("leap years between",s,"and",e)
while (s<=e):
    if ((s%400==0) or ((s%4==0) and (s%100!=0))):
      print(s)
    s=s+1

enter starting year: 2005
enter ending year: 2020
leap years between 2005 and 2020
2008
2012
2016
2020

3.  List comprehensions:
 (a)Generate positive list of numbers from a given list of integers

In [ ]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
y=[num for num in x if num >= 0]
print("initial list of integers is :",x) 
print("modified list of positive numbers is :",y)

enter list items : 3
enter the value of 1 item : 9
enter the value of 2 item : 7
enter the value of 3 item : 8
initial list of integers is : [9, 7, 8]
modified list of positive numbers is : [9, 7, 8]

(b)Square of N numbers

In [1]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers :",x)
y=list(b)
print("square list of N numbers :",y)

enter list items : 3
enter the value of 1 item : 1
enter the value of 2 item : 2
enter the value of 3 item : 3
initial list of N numbers : [1, 2, 3]
square list of N numbers : [1, 4, 9]

(c)Form a list of vowels selected from a given word

In [ ]:
w=input("enter any word : ")
v=[l for l in w if l in 'aeiou' ]
print("list of vowels in",w," :",v)

enter any word : rinu
list of vowels in rinu  : ['i', 'u']

d)List ordinal value of each element of a word (Hint: use ord() to get ordinal values

In [ ]:
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word : python
ASCII value is p is 112
ASCII value is y is 121
ASCII value is t is 116
ASCII value is h is 104
ASCII value is o is 111
ASCII value is n is 110

4. Count the occurrences of each word in a line of text.

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts
str=input("enter any text :")
print(word_count(str))

enter any text :rinu
{'rinu': 1}

5. Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

In [ ]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :4
12
11
5
6
modified list : [12, 11, 5, 6]

6. Store a list of first names. Count the occurrences of ‘a’ within the list

In [2]:
l=[]
x=int(input("enter the limit : "))
for i in range (1,x+1):
  x=input("enter the first name : ")
  l.append(x)
  count = x.count('a')
  print("number of time a is present in name:",count)

enter the limit : 2
enter the first name : rahul
number of time a is present in name: 1
enter the first name : anjana
number of time a is present in name: 3

7. Enter 2 lists of integers. Check                                                                                                                                                (a) Whether list are of same length (b) whether list sums to same value                                                                                                                                         (c) whether any value occur in both

In [ ]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
1
4
5
[1, 4, 5]
enter limit for list2 : 2
7
8
[7, 8]
list1 and list2 are of different length.
list1 and list2 sums up to different values.
value that occur in both lists is/are : no common elements

8. Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.[eg: onion -> oni$n]

In [ ]:
str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : onion
oni$n

9. Create a string from given string where first and last characters exchanged.   [eg: python -> nythop]

In [ ]:
x=input("enter the first string : ")
y=input("enter the second string : ")
def swapch(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string : rinu
enter the second string : nebin
ninu rebin

10. Accept the radius from user and find area of circle.

In [ ]:
r=int(input("enter the radius of the circle :"))
print("area of the circle is :",3.14*r*r)

enter the radius of the circle :2
area of the circle is : 12.56

11. Find biggest of 3 numbers entered.

In [ ]:
a = float(input("enter the first value : "))
b = float(input("enter the second value : "))
c = float(input("enter the third value : "))
if (a > b and a > c):
  print(a,"is bigger than both",b,"and",c)
elif (b > a and b > c):
  print(b,"is bigger than both",a,"and",c)
elif (c > a and c > b):
  print(c,"is bigger than both",a,"and",b)
else:
  print("either any two values or all the three values are equal")

enter the first value : 7
enter the second value : 9
enter the third value : 6
9.0 is bigger than both 7.0 and 6.0

12. Accept a file name from user and print extension of that.

In [3]:
f=input("enter any filename : ")
x=f.split(".")
print("extension of file is",x[-1])

enter any filename : star.py
extension of file is py

13. Create  a  list  of  colors  from  comma-separated  color  names  entered  by  user.  Display first and last colors.

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

14. Accept an integer n and compute n+nn+nnn.

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 2
246

15. Print out all colors from color-list1 not contained in color-list2.

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'White', 'Black'}

16. Create   a   single   string   separated   with   space   from   two   strings   by   swapping   the character at position 1.

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]
 
  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

17. Sort dictionary in ascending and descending order.

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

18. Merge two dictionaries.

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
print(Merge(dict1, dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

19. Find gcd of 2 numbers.

In [ ]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 3
Enter 2nd number: 6
GCD is 3

20. From a list of integers, create a list removing even num

In [ ]:
num = [7,2, 10, 25, 46, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]